{% extends "main/Base.html" %}

{% load static %}
{% block title %} ALABER {% endblock %}

{% block content %}
<div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 fixed-top">
                <nav class="navbar navbar-expand-sm navbar-light bg-light">
                  <div class="container-fluid">
                    <a class="navbar-brand" href="{% url 'main:Index_page' %}">ALABER</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarColor03">
                      <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                          <a class="nav-link active" href="#">Бонусы
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Избранные</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Для вас</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Популярные</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle show" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Категория</a>
                          <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Техника</a>
                            <a class="dropdown-item" href="#">Телефон и Аксессуары</a>
                            <a class="dropdown-item" href="#">Игрушки и спорт</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Музыка</a>
                          </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Скидки</a>
                        </li>
                        <li class="nav-item dropdown" style="margin-left: 70px;">
                            <a class="nav-link dropdown-toggle show" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Фильтр</a>
                            <div class="dropdown-menu">
                                <div class="lk" style="margin-left: 5px; color: #7F7F7F">
                                    <label class="form-label">От</label>
                                    <input type="number" class="form-control" placeholder="Цена от: " style="width: 95%;">
                                </div>
                                <div class="lk" style="margin-left: 5px; margin-top: 3px; color: #7F7F7F">
                                    <label class="form-label">До</label>
                                    <input type="number" class="form-control" placeholder="Цена от: " style="width: 95%;">
                                </div>

                                <div class="dropdown-divider"></div>

                            </div>
                        </li>
                      </ul>
                      <form class="d-flex">
                        <input class="form-control me-sm-2" type="text" placeholder="Поиск" style="width: 70%;">
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit" style="margin-left: 2px;">Поиск</button>
                      </form>

                        {% if user.is_authenticated %}
                          <div class="right_header" style="margin-left: 1%;">
                            <ul class="navbar-nav me-auto">
                              <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle show" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Мой профиль</a>

                                <div class="dropdown-menu" style="width: 160%;">
                                    <div class="user" style="height: 80px;">
                                        <div class="row" style="height: 100%">

                                            <div class="userimg col-lg-4" style="width: 100%;">
                                                <img src="{% static 'main/img/user.png' %}" alt="user" style="padding-left: 2px; width:150%;">

                                            </div>
                                            <div class="userhello col-lg-8" style="width: 50%;">
                                                <span style="width: 100%">Здравствуйте {{request.user.first_name}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="exit" style="width: 100%; float:right;">

                                        <a href="{% url 'main:logout' %}" style="color: black; text-decoration: none;"><button class="btn btn-warning pull-right" style="margin-left: 2px; margin-top: 2px;">Выход</button></a>
                                        <a href="{% url 'main:profile' %}" style="color: black; text-decoration: none;"><button class="btn btn-warning pull-right" style="margin-top: 2px;">Мой профиль</button></a>
                                        <hr>
                                    </div>

                                    <div style="margin-left: 11%;">Ваши деньги: 15000</div>
                                    <div style=" margin-top: 3px; margin-left: 11%;">Ваши монеты: 31</div>
                                    <a class="dropdown-item" href="#">История</a>
                                    <a class="dropdown-item" href="{% url 'main:korzina' %}">Корзина</a>
                                    <a class="dropdown-item" href="#">Мои купоны</a>
                                    <div class="dropdown-divider"></div>
                                </div>

                              </li>
                            </ul>
                          </div>
                        {% else %}
                            <div class="right_header" style="margin-left: 50px;">
                            <ul class="navbar-nav me-auto">
                              <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle show" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Мой профиль</a>

                                <div class="dropdown-menu" style="width: 165%;">
                                    <a href="{% url 'main:reg' %}" style="color: black; text-decoration: none;"><button type="submit" class="btn btn-warning pull-right" style="float:right; margin-right: 5%;">Регистрация</button></a>
                                    <a href="{% url 'main:log' %}" style="color: black; text-decoration: none;"><button type="submit" class="btn btn-warning pull-right" style="float:right; margin-right: 5%;">Вход</button></a>
                                </div>


                              </li>
                            </ul>
                          </div>
                        {% endif %}

                    </div>
                  </div>
                </nav>
            </div>
        </div>

</div>

<div class="container" style="background-color: #E9E9E9; border-radius: 5px; border: solid 3px #dad7d5; margin-top: 90px; margin-left: auto: margin-right: auto; width: 60%; height: 500px; font-family: 'Poppins', sans-serif;">
    <div class="row">

            <div class="col-sm-4">
                <img src="{% static 'main/img/user2.png'%}" alt="user" style="width: 70%;">
            </div>
            <div class="col-sm-8" style="color: #787D7E;">
                <div class="info" style="margin-top: 20px;">
                    <span style="font-size: 1.3em;">Имя пользователя:</span> <span style="color: #E86E0F">{{request.user.first_name}}</span>
                    <hr>
                </div>
                 <div class="info" style="margin-top: 20px;">
                    <span style="font-size: 1.3em;">Фамилия:</span> <span style="color: #E86E0F">{{request.user.last_name}}</span>
                     <hr>
                </div>
                <div class="info" style="margin-top: 20px;">
                    <span style="font-size: 1.3em;">Логин:</span> <span style="color: #E86E0F">{{request.user.username}}</span>
                    <hr>
                </div>
                <div class="info" style="margin-top: 20px;">
                    <span style="font-size: 1.3em;">Email:</span> <span style="color: #E86E0F">{{request.user.email}}</span>
                    <hr>
                </div>
                <div class="info-pass " style="margin-top: 50px;">
                    <span style="font-size: 1.1em">Безопасность:</span>

                    <a href="{% url 'main:change_password' %}" ><button type="submit" name="password" class="btn btn-warning">Изменить пароль</button></a>

                </div>
                <div class="info-pass " style="margin-top: 20px;">
                    <span style="font-size: 1.1em">Добавить номер телефона:</span>
                    <input type="number" value="Добавить" class="btn" style="border-radius: 5px; border: solid 3px #dad7d5; background-color: white;">
                </div>
            </div>

    </div>
</div>


<div class="margin-8" style="margin-top: 8%;"></div>
<footer style="color: #666; background-color: #222; padding: 17px 0 18px 0; border-top: 1px solid #000;">
      <div class="container">
        <p class="text-center"><a href="{% url 'main:Index_page' %}" style="color: #999;">ALABER.KZ</a></p>
      </div>
</footer>


{% endblock %}