{% extends "main/Base.html" %}
{% load static %}
{% block title %} Регистрация {% endblock %}

{% block content %}
<div class="row">
    <div class="container-fluid">
        <div class="col-sm-12">

            <div class="header" style="margin-top: 10px;">
                <a href="{% url 'main:Index_page' %}" style="text-decoration: none;"><h3 style="margin-left: 300px; color: #5F5E5E;">ALABER</h3></a>
                <hr>
            </div>
            <div class="container" style="margin-top: 50px; width: 60%;">
                <h1 class="text-center display-4 mb-2" style="font-family: Courier New, monospace; color: #3C3C3C;">Регистрация</h1>
                <form method="post">
                    {% csrf_token %}
                    <input type="text" name="username" class="form-control d-block mx-auto mt-2" style="width: 52%;" placeholder="Логин">
                    <input type="text" name="first_name" class="form-control d-block mx-auto mt-2" style="width: 52%;" placeholder="Имя">
                    <input type="text" name="last_name" class="form-control d-block mx-auto mt-2" style="width: 52%;" placeholder="Фамилия">
                    <input type="password" name="password" class="form-control d-block mx-auto mt-2" style="width: 52%;" placeholder="Пароль">
                    <div class="input-group mx-auto" style="width: 52%;">
                        <div class="input-group-prepend" style="height: 50%; margin-top: 8px;">
                          <span class="input-group-text">@</span>
                        </div>
                        <input type="email" name="email" class="form-control d-block mx-auto mt-2" placeholder="Ваш email">
                    </div>
                    <div class="container" style="width: 56%;">
                        <input type="submit" class="btn btn-warning pull-right" style="float: right; margin-top: 10px;" value="Зарегистрироваться">
                    </div>

                </form>

            </div>

            <div class="container" style="width: 70%;">
                <div class="soc" style="margin-top: 60px; margin-left: 39%;">
                    <span style="color: #999; font-size: 120%;">Войти через соц сети</span>
                </div>

                <div class="socc" style="margin-top: 20px; margin-left: 32%;">
                    <a href=""><img src="{% static 'main/img/vk.png' %}" alt="soc" style="width: 8.5%;"> </a>
                    <a href=""><img src="{% static 'main/img/face.png' %}" alt="soc" style="width: 8.5%; margin-left: 30px;"></a>
                    <a href=""><img src="{% static 'main/img/google.jpg' %}" alt="soc" style="width: 8.5%; margin-left: 30px;"></a>
                    <a href=""><img src="{% static 'main/img/insta.png' %}" alt="soc" style="width: 8.5%; margin-left: 30px;"></a>
                </div>
            </div>

        </div>
    </div>
</div>


{% endblock %}